/* https://css-tricks.com/ */
.main-title
{
  color: #04AA6D;
  border-bottom: 0.2rem solid #fff;
  padding: 1rem;
  background-color: #333;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;   
}

.desc_heading
{
  font-weight: bold;
  color: white;
}

.desc_subhead{
  font-size: 18px;
}

#trend
{
  margin-top: 0px;
  background-color: #f2f2f2;
}

#county_dropdown2{
  padding-top: 1rem;
}

.card-img-top{
  max-height: 257px;
}

.col-md-3{
  padding:2rem;
}

#header
{
  background-image: #85066a;
  margin-top: 0px;
}

.hh
{
    border-top: 0.2rem solid #fff;
    border-radius: 0rem;
    color: white;
    background-color: #1c2e1c;
    /background-image: linear-gradient(to right, #449b44 , #449b97, #85066a);/
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px ;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 0px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 0px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.home-page {
    background-color: #04AA6D;
    color: white;
  }

  #date_picker
  {
      color: #000000 ;
      font-size: xx-small;
  }
  #pred
  {
    margin-top: 0px;
  }

 
  #prow
  {
    padding-top: 0;
    margin-top: 0px;
  }
  #calmap
  {
    
    padding: 2rem;
    background-color: #f2f2f2;
  }

  #calmap2
  {
    padding: 2rem;
    background-color: #f2f2f2;
  }

  #countymap
  {
    padding: 2rem;
    background-color: #f2f2f2;
  }

  #pred
  {
    padding: 2rem;
    background-color: #f2f2f2;
  }

  #county_dropdown{
    padding-bottom: 2rem;
  }

  #datepicker
  {
    color: #000000 ;  
  }
 


#container {height: 100%; width:100%; font-size: 0;}
#left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
#left {width: 75%;}
#middle {width: 0%; background: green;}
#right {width: 25%;}
#map_button {color: #7FDBFF; align-self: center; align-content: center;}

.clip-text
{
  animation: fadeIn 2s ease;
  background: url(https://media.giphy.com/media/KBimavlZz1gHe/giphy.gif);
  background-size: cover;
  background-position: center;
  
  -webkit-background-clip: text;
  color: transparent;
  
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  font-size: 58px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;
}

.container
{
  text-align: center;
}

.message-text
{
  animation: fadeIn 5s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.prompt {
  height: 100vh;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
}

.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand { font-size: 20px; }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.heading-primary {
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: rgb(255, 255, 255);
  color: rgb(9, 119, 9);
font-size: 14px;
}


.block-local {
  max-height: 200px;
  margin: 0 12px;
  padding: 12px;
  border-radius: 8px;
  overflow-y: scroll;
  background-image: url(https://unsplash.it/g/300/300);
  background-size: 100% auto;
}

.block-fixed {
  max-height: 200px;
  margin: 0 12px;
  padding: 12px;
  border-radius: 8px;
  overflow-y: scroll;
  background-image: url(https://unsplash.it/g/300/300);
  background-size: 100% auto;
  background-attachment: fixed;
}

.hdd {
  margin: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  padding: 2rem;
}

.card {
  background-color: #d8f3d8;
  border: 3px solid #257425;
  padding: 1rem;
}

.about-section {
  padding: 1rem;
  text-align: center;
  color: black;
}


.containerr {
  padding: 0 16px;
}

.linkk
{
  color: #04AA6D;
  text-align: center;
}

.service-images
{
  width: 100%;
  height: 250px
}

.containerr::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: black;
  font-weight: bold;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 0.8rem;
  color: white;
  background-color: #1e621e;
  text-align: center;
  cursor: pointer;
  width: 100%;
  text-decoration: None;
  font-weight: bold;
}

.button:hover {
  background-color: #555;
}
.more-on-cali-map
{
  background-color: gold;
  padding: 1cm;
}
.more-on-cali-head
{
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(167, 86, 86);
  font-weight: bolder;
}
.more-on-cali-subhead
{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}
.more-on-cali-p
{
  color: rgb(0, 0, 0);
}


.more-on-county-map
{
  background-color: rgb(217, 226, 96);
  padding: 1cm;
}
.more-on-county-head
{
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(167, 86, 86);
  font-weight: bolder;
}
.more-on-county-subhead
{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}
.more-on-county-p
{
  color: rgb(0, 0, 0);
}

.more-on-pred1
{
  background-color: rgb(96, 226, 226);
  padding: 1cm;
}
.more-on-pred1-head
{
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(167, 86, 86);
  font-weight: bolder;
}
.more-on-pred1-subhead
{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}
.more-on-pred1-p
{
  color: rgb(0, 0, 0);
}


.more-on-pred2
{
  background-color: rgb(225, 157, 241);
  padding: 1cm;
}
.more-on-pred2-head
{
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(167, 86, 86);
  font-weight: bolder;
}
.more-on-pred2-subhead
{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}
.more-on-pred2-p
{
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

